<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Simple plan calendar</title>
	<meta charset='utf-8' />

	<link th:href='@{/css/fullcalendar.min.css}' rel='stylesheet' />
	<link th:href='@{/css/fullcalendar.print.min.css}' rel='stylesheet' media='print' />

	<script th:src='@{/js/moment.min.js}'></script>
	<script th:src='@{/js/jquery.min.js}'></script>
	<script th:src='@{/js/jquery-ui.min.js}'></script>
	<script th:src='@{/js/fullcalendar.min.js}'></script>
	<script th:src='@{/js/locale-all.js}'></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link th:href='@{/css/base.css}' rel='stylesheet' />
	<script th:src='@{/js/main.js}'></script>
	<script th:src='@{/js/diary.js}'></script>

	<!-- day js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>

	<script th:inline="javascript">
		var msg = [[${msg}]];
		if (msg != null) alert(msg);
	</script>

</head>

<body>
<!-- swagger url : /swagger-ui.html -->

<input type="hidden" name="checkLogin" th:value="${loginUser?.memberid}" />

<div id='wrap'>

	<div id='external-events'>
		<h4 style="font-weight:bold;">일정
			<a href="javascript:alert('일정을 드래그 앤 드롭하여 달력에 놓으면 추가됩니다.');">추가</a>
			&
			<a href="javascript:alert('일정을 드래그 앤 드롭하여 이곳에 가져오면 삭제됩니다.');">삭제</a>
		</h4>
		<div class="fc-event-group">
			<div class='fc-event' th:text="#{calendar.event.name}" bg_color="#3a87ad" text_color="white" style="background-color:#3a87ad; color:white;"></div>
			<div class='fc-event' th:text="#{calendar.event.name}" bg_color="black" text_color="white" style="background-color:black; color:white;"></div>
			<div class='fc-event' th:text="#{calendar.event.name}" bg_color="red" text_color="white" style="background-color:red; color:white;"></div>
		</div>
		<p style="display:none">
			<input type='checkbox' id='drop-remove' checked='checked' />
			<label for='drop-remove'>remove after drop</label>
		</p>
		<div style="text-align:center; margin:30px 0 10px 0">
			<button th:if="${#strings.isEmpty(loginUser)}" type="button" class="btn btn-success" style="width:100%;" data-toggle="modal" data-target="#loginModal" th:text="#{user.login.register}"></button>
			<button th:if="${loginUser}" type="button" class="btn btn-danger" style="width:100%;" onclick="userLogout();" th:text="#{user.logout}"></button>
		</div>
	</div>

	<div id='calendar'></div>

	<div style='clear:both'></div>

</div>
<br /><br />

</body>
</html>


<!-- 모달 리스트 -->
<div id="fullCalModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only" th:text="#{calendar.modify.close}"></span></button>
				<h4 id="modalTitle" class="modal-title" th:text="#{calendar.modify.info}"></h4>
			</div>
			<div id="modalBody" class="modal-body">
				<div>
					<input type="hidden" name="eventId" />
					<input type="hidden" name="eventStart" />
					<input type="hidden" name="eventEnd" />
					<input type="text" id="titleValue" name="titleValue" style="width:90%" onkeypress="if (event.keyCode == 13) putTitleUpdate();" />
				</div><br />
				<div style="width:90%; text-align:left; padding-left:30px;">
					<kbd th:text="#{calendar.bg.color.main}"></kbd>
					<select class="colorSelect" name="colorSelect" style="position: relative; top: 1px; left: 5px">
						<option value="default" meter="3" th:text="#{calendar.bg.color.default}"></option>
						<option value="black" meter="6" th:text="#{calendar.bg.color.black}"></option>
						<option value="red" meter="9" th:text="#{calendar.bg.color.red}"></option>
					</select>
					<meter id="colorSelectMeter" min="0" max="9" style="float: right"></meter>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" onclick="javascript:putTitleUpdate()" th:text="#{calendar.modify.button}"></button>
				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{calendar.modify.close}"></button>
			</div>
		</div>
	</div>
</div>

<div id="loginModal" class="container modal fade">
	<div class="modal-dialog" style="width:300px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only" th:text="#{calendar.modify.close}"></span></button>
				<h4 id="modalTitle" class="modal-title"><div class="panel-title" th:text="#{user.login.register}"></div></h4>
			</div>
			<form method="POST" name="loginForm">
				<div id="modalBody" class="modal-body">
					<div>
						<input type="text" class="form-control" name="memberid" placeholder="Username" value="" required />
					</div>
					<div>
						<input type="password" class="form-control" name="memberpw" placeholder="Password" value="" onkeypress="if (event.keyCode == 13) submitLogin();" required>
					</div>
				</div>
				<div class="modal-footer">
					<div>
						<button type="button" class="form-control btn btn-info" onclick="javascript:submitLogin();" th:text="#{user.login}"></button>
					</div>
					<div style="margin-top:5px">
						<button type="button" class="form-control btn btn-success" onclick="javascript:submitRegister();" th:text="#{user.register}"></button>
					</div>
					<div style="margin-top:5px">
						<button type="button" class="form-control btn btn-warning" onclick="javascript:loginTestUser();" th:text="#{user.use.test.account}"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>